.table-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.draggable-table {
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 40px);
}

.indicator {
  border-color: blue;
  background-color: rebeccapurple;
}

body {
  overflow: hidden;
}
